.about_tom_image{
    border-style: hidden;
    border-radius: 100px;
}
.about-margins{
    margin-left: 15%;
    margin-right: 15%;
}
.welcome-image{
    border-style: hidden;
    border-radius: 10px;
}